force-app/main/default/flows/wkdw__Direct_Deposit.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Direct_Deposit_Details</name>
        <label>Get Direct Deposit Details</label>
        <locationX>499</locationX>
        <locationY>1182</locationY>
        <actionName>wkdw__DirectDepositStatusAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_IsSuccess_and_FaultString</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen_01</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>employeeReference</name>
            <value>
                <elementReference>GetEmployeeRecords.EmployeeNumber</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Assign_IsSuccess_and_FaultString</name>
        <label>Assign IsSuccess and FaultString</label>
        <locationX>499</locationX>
        <locationY>1311</locationY>
        <assignmentItems>
            <assignToReference>IsSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Direct_Deposit_Details.isSuccess</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FaultString</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Direct_Deposit_Details.errorMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_IsSuccess</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>showErrorAssignment</name>
        <label>showErrorAssignment</label>
        <locationX>1291</locationX>
        <locationY>802</locationY>
        <assignmentItems>
            <assignToReference>showError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DirectDepositScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Task_Status_Variable</name>
        <label>Update Task Status Variable</label>
        <locationX>500</locationX>
        <locationY>2069</locationY>
        <assignmentItems>
            <assignToReference>taskStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ThankYouScreen</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>OpenNewBrowserIcon</name>
        <dataType>String</dataType>
        <value>
            <stringValue>&lt;img src=&apos;/resource/wkdw__Open_new_browser_icon?&apos; /&gt;</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_IsSuccess</name>
        <label>Check IsSuccess</label>
        <locationX>491</locationX>
        <locationY>1506</locationY>
        <defaultConnector>
            <targetReference>Fault_Screen_02</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Failure</defaultConnectorLabel>
        <rules>
            <name>Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsSuccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckBankAccount</targetReference>
            </connector>
            <label>Success</label>
        </rules>
        <rules>
            <name>InvalidEmployeeID</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsSuccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FaultString</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Invalid ID value</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>InvalidEmployeeNumberScreen</targetReference>
            </connector>
            <label>InvalidEmployeeID</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckBankAccount</name>
        <label>CheckBankAccount</label>
        <locationX>491</locationX>
        <locationY>1716</locationY>
        <defaultConnector>
            <targetReference>showErrorAssignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>BankAccountPresentNo</defaultConnectorLabel>
        <rules>
            <name>BankAccountPresentYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Direct_Deposit_Details.hasBankAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Task</targetReference>
            </connector>
            <label>BankAccountPresentYes</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckNamedCredential</name>
        <label>CheckNamedCredential</label>
        <locationX>490</locationX>
        <locationY>975</locationY>
        <defaultConnector>
            <targetReference>NamedCredentialScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NamedCredentialNotPresent</defaultConnectorLabel>
        <rules>
            <name>NamedCredentialPresent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Named_Credential.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Direct_Deposit_Details</targetReference>
            </connector>
            <label>NamedCredentialPresent</label>
        </rules>
    </decisions>
    <description>Sample flow for checking that direct deposit has been set up in Workday</description>
    <interviewLabel>Direct Deposit {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>[Sample] Verify Direct Deposit in Workday</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Named_Credential</name>
        <label>Get Named Credential</label>
        <locationX>499</locationX>
        <locationY>195</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>HRSC_Workday_API</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>NamedCredential</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Task</name>
        <label>Get Task</label>
        <locationX>499</locationX>
        <locationY>377</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetEmployeeRecords</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>taskId</elementReference>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <object>Task</object>
        <outputAssignments>
            <assignToReference>taskStatus</assignToReference>
            <field>Status</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetEmployeeRecords</name>
        <label>GetEmployeeRecords</label>
        <locationX>499</locationX>
        <locationY>553</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DirectDepositScreen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Employee</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Task</name>
        <label>Update Task</label>
        <locationX>499</locationX>
        <locationY>1916</locationY>
        <connector>
            <targetReference>Update_Task_Status_Variable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>taskId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>DirectDepositScreen</name>
        <label>Direct Deposit Screen</label>
        <locationX>499</locationX>
        <locationY>803</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CheckNamedCredential</targetReference>
        </connector>
        <fields>
            <name>DirectDepositContent</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;Let’s confirm that you’ve set up direct deposit in Workday. If your details are correct, your paychecks are sent automatically to your bank account.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: sans-serif; font-size: 14px;&quot;&gt;In Workday, enter your bank account information and confirm the deposit amount. Then, click Check Workday and we’ll confirm you’ve set it up.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://signin.resourcecenter.workday.com/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(52, 133, 255);&quot;&gt;&lt;b&gt;Open Workday&lt;/b&gt;&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>BankAccountValidationError</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 8);&quot;&gt;Oops, looks like an account still needs to be added. Go to Workday, add at least one bank account, and try again.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>showError</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Check_Workday</name>
            <extensionName>wkdw:flowNavigationButtons</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>labelNext</name>
                <value>
                    <stringValue>Check Workday</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>taskId</name>
                <value>
                    <elementReference>taskId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>taskStatus</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Completed</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fault_Screen_01</name>
        <label>Fault Screen</label>
        <locationX>703</locationX>
        <locationY>1182</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Fault_Screen_01_DT</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fault_Screen_02</name>
        <label>Fault Screen</label>
        <locationX>730</locationX>
        <locationY>1501</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Fault_Screen_02_DT</name>
            <fieldText>&lt;p&gt;{!FaultString}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>InvalidEmployeeNumberScreen</name>
        <label>Invalid Employee Number Screen</label>
        <locationX>179</locationX>
        <locationY>1502</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>InvalidEmployeeNumberText</name>
            <fieldText>&lt;p&gt;{!$Label.wkdw__workday_invalid_employee_number}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>NamedCredentialScreen</name>
        <label>NamedCredentialScreen</label>
        <locationX>742</locationX>
        <locationY>975</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NamedCredentialMessage</name>
            <fieldText>&lt;p&gt;{!$Label.wkdw__workday_named_credential_error}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ThankYouScreen</name>
        <label>Thank You Screen</label>
        <locationX>502</locationX>
        <locationY>2227</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ThankYouContent</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;Looks good!&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Way to knock things off your list. Keep it up!&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>376</locationX>
        <locationY>44</locationY>
        <connector>
            <targetReference>Get_Named_Credential</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>FaultString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IsSuccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>showError</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>taskId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>taskStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
