force-app/main/default/flows/wkdw__WorkdayTimeOffBalance.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Short_Term_Leave</name>
        <label>Get Short Term Leave</label>
        <locationX>512</locationX>
        <locationY>518</locationY>
        <actionName>wkdw__ShortTermLeaveBalanceAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_IsSuccess_and_FaultString</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen_01</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>employeeReference</name>
            <value>
                <elementReference>Get_Employee.EmployeeNumber</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Assign_IsSuccess_and_FaultString</name>
        <label>Assign IsSuccess and FaultString</label>
        <locationX>512</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>IsSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Short_Term_Leave.isSuccess</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FaultString</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Short_Term_Leave.errorMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_IsSuccess</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_IsSuccess</name>
        <label>Check IsSuccess</label>
        <locationX>512</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Fault_Screen_02</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Failure</defaultConnectorLabel>
        <rules>
            <name>Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsSuccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Time_Off_Balance</targetReference>
            </connector>
            <label>Success</label>
        </rules>
        <rules>
            <name>InvalidEmployeeID</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsSuccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FaultString</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Invalid ID value</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Invalid_Employee_Number_Screen</targetReference>
            </connector>
            <label>InvalidEmployeeID</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Time_Off_Balance</name>
        <label>Check Time Off Balance</label>
        <locationX>182</locationX>
        <locationY>878</locationY>
        <defaultConnector>
            <targetReference>Your_Time_Off_Balance</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Empty_Time_Off_Balance</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Short_Term_Leave.timeOffBalanceData</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Empty_Time_Off_Balance_Screen</targetReference>
            </connector>
            <label>Empty Time Off Balance</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckNamedCredential</name>
        <label>CheckNamedCredential</label>
        <locationX>941</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>NamedCredentialScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NamedCredentialNotPresent</defaultConnectorLabel>
        <rules>
            <name>NamedCredentialPresent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Named_Credential.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Employee</targetReference>
            </connector>
            <label>NamedCredentialPresent</label>
        </rules>
    </decisions>
    <description>Sample flow for checking time-off balance in Workday</description>
    <interviewLabel>Workday Time Off Balance {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>[Sample] Workday Time Off Balance</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Employee</name>
        <label>Get Employee</label>
        <locationX>512</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Short_Term_Leave</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Employee</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Named_Credential</name>
        <label>Get Named Credential</label>
        <locationX>941</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckNamedCredential</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>HRSC_Workday_API</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>NamedCredential</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Empty_Time_Off_Balance_Screen</name>
        <label>Empty Time Off Balance Screen</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>EmptyTimeOffBalanceMessage</name>
            <fieldText>&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;b style=&quot;font-size: 16px; background-color: transparent; color: rgb(0, 0, 0);&quot;&gt;Your Time Off Balance&lt;/b&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;{!$Label.wkdw__no_time_off_balance_message}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Fault_Screen_01</name>
        <label>Fault Screen</label>
        <locationX>1106</locationX>
        <locationY>638</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Fault_Screen_01_DT</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fault_Screen_02</name>
        <label>Fault Screen</label>
        <locationX>842</locationX>
        <locationY>878</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Fault_Screen_02_DT</name>
            <fieldText>&lt;p&gt;{!FaultString}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Invalid_Employee_Number_Screen</name>
        <label>Invalid Employee Number Screen</label>
        <locationX>578</locationX>
        <locationY>878</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>InvalidEmployeeNumberText</name>
            <fieldText>&lt;p&gt;{!$Label.wkdw__workday_invalid_employee_number}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>NamedCredentialScreen</name>
        <label>NamedCredentialScreen</label>
        <locationX>1370</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NamedCredentialMessage</name>
            <fieldText>&lt;p&gt;{!$Label.wkdw__workday_named_credential_error}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Your_Time_Off_Balance</name>
        <label>Your Time Off Balance</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DisplayShortTermLeaveBalance</name>
            <fieldText>&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;b style=&quot;font-size: 16px; background-color: transparent; color: rgb(0, 0, 0);&quot;&gt;Your Time Off Balance&lt;/b&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;For detailed information about your time off balances, go directly to Workday.&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;b style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;&lt;u&gt;Available Balance as of Today&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;{!Get_Short_Term_Leave.timeOffBalanceData}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>815</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Named_Credential</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>FaultString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IsSuccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
