force-app/main/default/flows/wkdw__Health_Verification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>APEX_CreateAcceptedHealthVerification</name>
        <label>Create Accepted Health Verification</label>
        <locationX>182</locationX>
        <locationY>3062</locationY>
        <actionName>wkdw__HealthVerificationFlowActions</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>CHECK_IsHealthVerificationCreated</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>authorizationFormTextId</name>
            <value>
                <elementReference>authorizationFormTextId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>caseDescription</name>
            <value>
                <elementReference>caseDescription</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>caseSubject</name>
            <value>
                <elementReference>form_caseSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>draftHealthVerificationId</name>
            <value>
                <elementReference>var_draftHealthVerification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>employeeId</name>
            <value>
                <elementReference>GET_EmployeeForCurrentUser.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>healthVerificationDocumentDate</name>
            <value>
                <elementReference>S05_D01</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>healthVerificationType</name>
            <value>
                <elementReference>pch_healthVerificationType</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>var_createdCaseId</assignToReference>
            <name>caseId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>var_errorMessage</assignToReference>
            <name>errorMessage</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>var_isSuccess</assignToReference>
            <name>isSuccess</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>APEX_DeleteDraftHealthVerification</name>
        <label>Delete Draft Health Verification</label>
        <locationX>171</locationX>
        <locationY>1358</locationY>
        <actionName>wkdw__HealthVerificationFlowDeletionAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>S03_ExitMessageForReluctantUser</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>draftHealthVerificationId</name>
            <value>
                <elementReference>GET_ExistingDraftHealthVerification_1.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>APEX_PromoteDeclinedHealthVerifiaction</name>
        <label>Promote Declined Health Verifiaction</label>
        <locationX>578</locationX>
        <locationY>3062</locationY>
        <actionName>wkdw__HealthVerificationFlowDeclinedAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>S09_DeclineConfirmationMessage</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>declinationReason</name>
            <value>
                <elementReference>pch_healthVerificationDeclinationReason</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>draftHealthVerificationId</name>
            <value>
                <elementReference>var_draftHealthVerification.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>ASSIGN_TaskStatus_1</name>
        <label>Assign Task Status</label>
        <locationX>303</locationX>
        <locationY>1814</locationY>
        <assignmentItems>
            <assignToReference>taskStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>ASSIGN_TaskStatus_2</name>
        <label>Assign Task Status</label>
        <locationX>50</locationX>
        <locationY>3542</locationY>
        <assignmentItems>
            <assignToReference>taskStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>STORE_CaseId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASSIGN_TaskStatus_3</name>
        <label>Assign Task Status</label>
        <locationX>578</locationX>
        <locationY>3422</locationY>
        <assignmentItems>
            <assignToReference>taskStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>STORE_CaseId</name>
        <label>Store Case Id</label>
        <locationX>50</locationX>
        <locationY>3662</locationY>
        <assignmentItems>
            <assignToReference>SvcCatalogRelatedRecordIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_createdCaseId</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <choices>
        <name>ch_acceptTermsAndConditions</name>
        <choiceText>Accept</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Accept</stringValue>
        </value>
    </choices>
    <choices>
        <name>ch_declineTermsAndConditions</name>
        <choiceText>Decline</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Decline</stringValue>
        </value>
    </choices>
    <choices>
        <description>&quot;no&quot; options for work from office decision</description>
        <name>ch_maybe</name>
        <choiceText>Maybe</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Maybe</stringValue>
        </value>
    </choices>
    <choices>
        <description>&quot;no&quot; options for work from office decision</description>
        <name>ch_no</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <description>&quot;yes&quot; option for work from office decision</description>
        <name>ch_yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <description>Employee will be exiting on reluctance. On acceptance, verify health information and seek consent.</description>
        <name>CHECK_EmployeeWillingnessToWorkFromOffice</name>
        <label>Employee Willing To Work From Office</label>
        <locationX>149</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>GET_ExistingDraftHealthVerification_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>CHECK_EmployeeWillingnessToWorkFromOffice_YesOrMaybe</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>S02_RB01</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ch_yes</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>S02_RB01</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ch_maybe</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>S04_AcceptTermsAndConditions</targetReference>
            </connector>
            <label>Yes Or Maybe</label>
        </rules>
    </decisions>
    <decisions>
        <name>CHECK_IsHealthVerificationCreated</name>
        <label>Is Health Verification Created</label>
        <locationX>182</locationX>
        <locationY>3182</locationY>
        <defaultConnector>
            <targetReference>S07_HealthVerificationError</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>CHECK_IsHealthVerificationCreated_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_isSuccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>S06_EmployeeSuccessfulVerification</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>CHECK_PermissionToRunFlow</name>
        <label>Check Permission To Run Flow</label>
        <locationX>611</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>S01_NoPermissionToRunFlow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Permission</defaultConnectorLabel>
        <rules>
            <name>CHECK_PermissionToRunFlow_HasPermission</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PermissionSetAssignmentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_EmployeeForCurrentUser</targetReference>
            </connector>
            <label>Has Permission</label>
        </rules>
    </decisions>
    <decisions>
        <description>User&apos;s acceptance of the terms and conditions. Seek health verification on acceptance. On declining, seek reason and exit the process.</description>
        <name>CHECK_TermsConditions</name>
        <label>Terms and Conditions</label>
        <locationX>380</locationX>
        <locationY>2822</locationY>
        <defaultConnector>
            <targetReference>S08_CaptureDeclinedHealthVerificationInformation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Declined</defaultConnectorLabel>
        <rules>
            <name>CHECK_TermsConditionsAcceptance_Accepted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>S04_RB01</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ch_acceptTermsAndConditions</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>S05_GetHealthVerificationInformation</targetReference>
            </connector>
            <label>Accepted</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_HasDraftHealthVerification_1</name>
        <label>Has Draft Health Verification</label>
        <locationX>303</locationX>
        <locationY>1238</locationY>
        <defaultConnector>
            <targetReference>S03_ExitMessageForReluctantUser</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>DEC_HasDraftHealthVerification_1_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_ExistingDraftHealthVerification_1.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>APEX_DeleteDraftHealthVerification</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_HasDraftHealthVerification_2</name>
        <label>Has Draft Health Verification</label>
        <locationX>380</locationX>
        <locationY>2486</locationY>
        <defaultConnector>
            <targetReference>CREATE_DraftHealthVerification</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>DEC_HasDraftHealthVerification_2_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_draftHealthVerification.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CHECK_TermsConditions</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_IsOnboardingFlow</name>
        <label>Is Onboarding Flow</label>
        <locationX>380</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>S04_AcceptTermsAndConditions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>DEC_IsOnboardingFlow_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>taskId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_TaskDetails</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Sample flow for verifying COVID-19 health status</description>
    <dynamicChoiceSets>
        <name>pch_healthVerificationDeclinationReason</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>wkdw__DeclinationReason__c</picklistField>
        <picklistObject>wkdw__HealthVerification__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Types of health verifications that can be completed by a user.</description>
        <name>pch_healthVerificationType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>wkdw__Type__c</picklistField>
        <picklistObject>wkdw__HealthVerification__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>form_caseSubject</name>
        <dataType>String</dataType>
        <expression>&quot;Health Verification for &quot; &amp; {!GET_EmployeeForCurrentUser.Name} &amp; &quot; Returning to Workplace&quot;</expression>
    </formulas>
    <formulas>
        <name>form_previousButtonLabelBasedOnContext</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!taskId}),&apos;&apos;,{!$Label.wkdw__form_button_previous}</expression>
    </formulas>
    <interviewLabel>Health Verification Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>[Sample] Health Verification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CREATE_DraftHealthVerification</name>
        <label>Create Draft Health Verification</label>
        <locationX>468</locationX>
        <locationY>2606</locationY>
        <assignRecordIdToReference>var_draftHealthVerification.Id</assignRecordIdToReference>
        <connector>
            <targetReference>CHECK_TermsConditions</targetReference>
        </connector>
        <inputAssignments>
            <field>wkdw__Employee__c</field>
            <value>
                <elementReference>GET_EmployeeForCurrentUser.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>wkdw__Status__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>wkdw__HealthVerification__c</object>
    </recordCreates>
    <recordLookups>
        <name>GET_EmployeeForCurrentUser</name>
        <label>Get Employee For Current User</label>
        <locationX>380</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DEC_IsOnboardingFlow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Employee</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>UserId</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>RelatedPersonId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_ExistingDraftHealthVerification_1</name>
        <label>Get Existing Draft Health Verification</label>
        <locationX>303</locationX>
        <locationY>1118</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DEC_HasDraftHealthVerification_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>wkdw__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>wkdw__Employee__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GET_EmployeeForCurrentUser.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>wkdw__HealthVerification__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_ExistingDraftHealthVerification_2</name>
        <label>Get Existing Draft Health Verification</label>
        <locationX>380</locationX>
        <locationY>2366</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DEC_HasDraftHealthVerification_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>wkdw__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>wkdw__Employee__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GET_EmployeeForCurrentUser.Id</elementReference>
            </value>
        </filters>
        <object>wkdw__HealthVerification__c</object>
        <outputReference>var_draftHealthVerification</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GET_PermissionSetAssignment</name>
        <label>Get Permission Set Assignment</label>
        <locationX>611</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CHECK_PermissionToRunFlow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GET_PermissionSetRecord.Id</elementReference>
            </value>
        </filters>
        <object>PermissionSetAssignment</object>
        <outputAssignments>
            <assignToReference>PermissionSetAssignmentId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GET_PermissionSetRecord</name>
        <label>Get Permission Set Record</label>
        <locationX>611</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GET_PermissionSetAssignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OnboardingHealthVerificationPermissionSetName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSet</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_TaskDetails</name>
        <label>Get Task Details</label>
        <locationX>149</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>S02_WorkFromOfficeDecision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>taskId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Complete task on employee conveying reluctance to return to office.</description>
        <name>UPDATE_TaskToCompleted_1</name>
        <label>Complete Task On Employee Reluctance</label>
        <locationX>303</locationX>
        <locationY>1694</locationY>
        <connector>
            <targetReference>ASSIGN_TaskStatus_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GET_TaskDetails.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <description>Complete the task on employee&apos;s successful health verification and consent.</description>
        <name>UPDATE_TaskToCompleted_2</name>
        <label>Complete Task</label>
        <locationX>50</locationX>
        <locationY>3422</locationY>
        <connector>
            <targetReference>ASSIGN_TaskStatus_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>taskId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <description>Complete the task on employee&apos;s successful health verification and consent.</description>
        <name>UPDATE_TaskToCompleted_3</name>
        <label>Complete Task</label>
        <locationX>578</locationX>
        <locationY>3302</locationY>
        <connector>
            <targetReference>ASSIGN_TaskStatus_3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GET_TaskDetails.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>S01_NoPermissionToRunFlow</name>
        <label>No Permission To Run Flow</label>
        <locationX>842</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>S01_DT01</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Health Verification&amp;nbsp;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>S01_DT02</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;It looks like you need permission to start the Health Verification flow. Ask your admin or HR contact for help.&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>S01_FNB01</name>
            <extensionName>wkdw:flowNavigationButtons</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>labelFinish</name>
                <value>
                    <elementReference>$Label.wkdw__form_button_finish</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disableNext</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Capture employees willingness to return to office.</description>
        <name>S02_WorkFromOfficeDecision</name>
        <label>Work From Office Decision</label>
        <locationX>149</locationX>
        <locationY>878</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CHECK_EmployeeWillingnessToWorkFromOffice</targetReference>
        </connector>
        <fields>
            <name>S02_DT01</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Health Verification&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>S02_RB01</name>
            <choiceReferences>ch_yes</choiceReferences>
            <choiceReferences>ch_maybe</choiceReferences>
            <choiceReferences>ch_no</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Do you plan to work in one of our offices sometime soon?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>S02_FNB01</name>
            <extensionName>wkdw:flowNavigationButtons</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>labelNext</name>
                <value>
                    <elementReference>$Label.wkdw__form_button_next</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Thank the user for participating, complete task and exit.</description>
        <name>S03_ExitMessageForReluctantUser</name>
        <label>Exit Message For Reluctant User</label>
        <locationX>303</locationX>
        <locationY>1574</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>UPDATE_TaskToCompleted_1</targetReference>
        </connector>
        <fields>
            <name>S03_DT01</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Health Verification&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>S03_DT02</name>
            <fieldText>&lt;p&gt;OK. If you change your mind, contact human resources.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>S03_FNB01</name>
            <extensionName>wkdw:flowNavigationButtons</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>labelMarkTaskAsComplete</name>
                <value>
                    <elementReference>$Label.wkdw__form_button_mark_task_as_completed</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disableNext</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelPrevious</name>
                <value>
                    <elementReference>$Label.wkdw__form_button_previous</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>taskId</name>
                <value>
                    <elementReference>taskId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>GET_TaskDetails.Status</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Completed</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Get user&apos;s acceptance on terms and conditions</description>
        <name>S04_AcceptTermsAndConditions</name>
        <label>Accept Terms and Conditions</label>
        <locationX>380</locationX>
        <locationY>2246</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>GET_ExistingDraftHealthVerification_2</targetReference>
        </connector>
        <fields>
            <name>S04_DT01</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Health Verification&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>S04_DT02</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Terms and conditions and Privacy Notice:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Replace this text with your company’s terms and conditions and privacy notice/policy. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Note - If you are unable to use this form to have your COVID status verified please contact your HR department for assistance.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;I have: (1) read and understand the Terms and Conditions and the Privacy Notice; and (2) acknowledge and consent to the processing of my personal data for purposes of verifying my COVID-19 health status pursuant thereto.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>S04_RB01</name>
            <choiceReferences>ch_acceptTermsAndConditions</choiceReferences>
            <choiceReferences>ch_declineTermsAndConditions</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Do you accept the terms and conditions of the health verification form?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>S04_FNB01</name>
            <extensionName>wkdw:flowNavigationButtons</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>labelNext</name>
                <value>
                    <elementReference>$Label.wkdw__form_button_next</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelPrevious</name>
                <value>
                    <elementReference>form_previousButtonLabelBasedOnContext</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Capture health verification information from the user.</description>
        <name>S05_GetHealthVerificationInformation</name>
        <label>Seek Health Verification Information</label>
        <locationX>182</locationX>
        <locationY>2942</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>APEX_CreateAcceptedHealthVerification</targetReference>
        </connector>
        <fields>
            <name>S05_DT01</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Health Verification&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>S05_DT02</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(62, 62, 60);&quot;&gt;Complete the health verification form.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>S05_RB01</name>
            <choiceReferences>pch_healthVerificationType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select your health verification method:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>S05_D01</name>
            <dataType>Date</dataType>
            <fieldText>Health Credential Document Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>S05_DT03</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Upload a file to provide proof of your COVID health verification (e.g., a vaccination card, test result report, or documentation of recovery).&lt;/span&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Valid File extensions accepted: .jpeg, .jpg, .png, .pdf&amp;nbsp;&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>S05_FU01</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>File Upload</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accept</name>
                <value>
                    <stringValue>.jpg,.png,.jpeg</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>var_draftHealthVerification.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>S05_DT04</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>S05_FNB01</name>
            <extensionName>wkdw:flowNavigationButtons</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>labelPrevious</name>
                <value>
                    <elementReference>$Label.wkdw__form_button_previous</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelNext</name>
                <value>
                    <elementReference>$Label.wkdw__form_button_next</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Thank the user for participating, providing verification and consent.</description>
        <name>S06_EmployeeSuccessfulVerification</name>
        <label>Employee Successful Verification</label>
        <locationX>50</locationX>
        <locationY>3302</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>UPDATE_TaskToCompleted_2</targetReference>
        </connector>
        <fields>
            <name>S06_DT01</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Health Verification&amp;nbsp;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>S06_DT02</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Success! Thanks for submitting your COVID health verification information.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>S06_FNB01</name>
            <extensionName>wkdw:flowNavigationButtons</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>labelMarkTaskAsComplete</name>
                <value>
                    <elementReference>$Label.wkdw__form_button_mark_task_as_completed</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>taskId</name>
                <value>
                    <elementReference>taskId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>GET_TaskDetails.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>GET_TaskDetails.Status</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Completed</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>S06_FNB02</name>
            <extensionName>wkdw:flowNavigationButtons</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>labelNext</name>
                <value>
                    <elementReference>$Label.wkdw__form_button_finish</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>GET_TaskDetails.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Capture health verification information from the user.</description>
        <name>S07_HealthVerificationError</name>
        <label>Health Verification Error</label>
        <locationX>314</locationX>
        <locationY>3302</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>S07_DT01</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Health Verification&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>S07_DT02</name>
            <fieldText>&lt;p&gt;{!var_errorMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>S07_FNB</name>
            <extensionName>wkdw:flowNavigationButtons</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>labelFinish</name>
                <value>
                    <elementReference>$Label.wkdw__form_button_finish</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Get the reason why user chose to decline terms and conditions.</description>
        <name>S08_CaptureDeclinedHealthVerificationInformation</name>
        <label>Capture Declined Health Verification Information</label>
        <locationX>578</locationX>
        <locationY>2942</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>APEX_PromoteDeclinedHealthVerifiaction</targetReference>
        </connector>
        <fields>
            <name>S08_DT01</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Health Verification&amp;nbsp;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>S08_DT02</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Indicate your reason for being unable to provide COVID health verification documentation.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>S08_P01</name>
            <choiceReferences>pch_healthVerificationDeclinationReason</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>S08_DT03</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>S08_FNB01</name>
            <extensionName>wkdw:flowNavigationButtons</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>labelPrevious</name>
                <value>
                    <elementReference>$Label.wkdw__form_button_previous</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelNext</name>
                <value>
                    <elementReference>$Label.wkdw__form_button_next</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>On declining Terms and conditions, thank the user and exit the process.</description>
        <name>S09_DeclineConfirmationMessage</name>
        <label>Decline Confirmation Message</label>
        <locationX>578</locationX>
        <locationY>3182</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>UPDATE_TaskToCompleted_3</targetReference>
        </connector>
        <fields>
            <name>S09_DT01</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Health Verification&amp;nbsp;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>S09_DT02</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Thank you for submitting your COVID health verification response.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>S09_FNB01</name>
            <extensionName>wkdw:flowNavigationButtons</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>disableNext</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>taskId</name>
                <value>
                    <elementReference>taskId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelMarkTaskAsComplete</name>
                <value>
                    <elementReference>$Label.wkdw__form_button_mark_task_as_completed</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>GET_TaskDetails.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>GET_TaskDetails.Status</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Completed</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>S09_FNB02</name>
            <extensionName>wkdw:flowNavigationButtons</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>labelNext</name>
                <value>
                    <elementReference>$Label.wkdw__form_button_finish</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>GET_TaskDetails.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>485</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GET_PermissionSetRecord</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>authorizationFormTextId</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>0cNHu000000XxNSMA0</text>
    </textTemplates>
    <textTemplates>
        <name>caseDescription</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>A new health verification has been submitted by one of our employees that requires review for approval so they can return to the workplace safely.</text>
    </textTemplates>
    <textTemplates>
        <name>COVID19Vaccination</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>COVID-19 Vaccination</text>
    </textTemplates>
    <variables>
        <name>OnboardingHealthVerificationPermissionSetName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>OnboardingHealthVerificationEmployeeAccess</stringValue>
        </value>
    </variables>
    <variables>
        <name>PermissionSetAssignmentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SvcCatalogRelatedRecordIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>taskId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>taskStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_createdCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_draftHealthVerification</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>wkdw__HealthVerification__c</objectType>
    </variables>
    <variables>
        <name>var_errorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_isSuccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
